.circle-indicators{
    display: grid;

    grid-template-columns: 30px 30px 30px 30px;
    column-gap: 20px;
}

.c1,.c2,.c3,.c4{
    background-color:  rgb(78, 78, 78);
    height: 30px;
    border-radius: 15px;
}

.started{
    background-color: red;
}

