.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: rgb(78, 78, 78) 1px solid;
    height:fit-content;
    margin-top: 20px;
    border-radius: 15px;
}

.timer{
    font-size: 80px;
    font-weight: 600;
}

.timer-container{
    border: rgb(29, 29, 29) 5px solid;
    padding: 100px 80px 100px 80px;
    margin-bottom: 30px;
    border-radius: 180px;
    text-align: center;
    color: rgb(184, 182, 182);
}

.timer-container .timer{
    margin-bottom: 5px;
    margin-top: 5px;
}

.timer-container .session-info{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color:  rgb(78, 78, 78);
    
}



